<mat-toolbar color="primary">
    <span>Freya</span>
</mat-toolbar>

<mat-sidenav-container class="full-height">
    <mat-sidenav mode="side" opened="true">
        <mat-nav-list>
            <mat-list-item [routerLink]="['dashboard']">
                <fa-icon [icon]="dashboardIcon" class="vm-auto mr-10"></fa-icon>
                <h4>Dashboard</h4>
            </mat-list-item>
            <mat-list-item [routerLink]="['nodes']">
                <fa-icon [icon]="nodesIcon" class="vm-auto mr-10"></fa-icon>
                <h4>Nodes</h4>
            </mat-list-item>
            <mat-list-item [routerLink]="['datacenters']">
                <fa-icon [icon]="datacentersIcon" class="vm-auto mr-10"></fa-icon>
                <h4>Datacenters</h4>
            </mat-list-item>
            <mat-list-item [routerLink]="['applications']">
                <fa-icon [icon]="applicationsIcon" class="vm-auto mr-10"></fa-icon>
                <h4>Applications</h4>
            </mat-list-item>
            <mat-list-item [routerLink]="['galaxies']">
                <fa-icon [icon]="segregationIcon" class="vm-auto mr-10"></fa-icon>
                <h4>Segregation</h4>
            </mat-list-item>
            <mat-list-item [routerLink]="['service-discovery']">
                <fa-icon [icon]="serviceDiscoveryIcon" class="vm-auto mr-10"></fa-icon>
                <h4>Service Discovery</h4>
            </mat-list-item>
            <mat-list-item [routerLink]="['settings']">
                <fa-icon [icon]="settingsIcon" class="vm-auto mr-10"></fa-icon>
                <h4>Settings</h4>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>